*{
	margin: 0px;
	padding: 0px;
}
.css3,#right,.div,#s,.con_div img,h3{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:insert 0 1px 2px rgba(0,0,0,.2);
	box-shadow: insert 0 1px 2px rgba(0,0,0,.2);
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition:width .7s;
	
}
#pagewrap{
	width: 900px;
	height: 950px;
	margin: 0 auto;
	background-color: #3366ff;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}
#head{
	width: 880px;
	height: 75px;
}
#nav{
	width: 880px;
	height: 35px;
	margin: 0 auto;
	background-color:gray;
}
#nav #ul_text{
	float: left;
	width: 500px;
	height: 28px;
	list-style-type: none;
	padding-top: 7px;
}
#nav li{
	width: 80px;
	height: 25px;
	float: left;
}
#nav li a{
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-size: 16px;
}
#nav li a:hover{
	text-decoration: underline;
}
#nav #s{
	width: 120px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
#top_home{
	margin-top: 5px;
	margin-bottom: 4px;
}
#main{
	height: 780px;
	width: 800px;
}
#left{
	width:615px;
	height:760px;
	position: absolute;
	top: 120px;
	left: 235px;
	background: white;
}
.con_div{
	width: 600px;
	height: 240px;
	margin-top: 3px;
	margin-left: 10px;
}

.con_div p{
	margin-top: 5px;	
	margin-bottom: 5px;
	font-size: 13px;
	line-height: 23px;
	text-indent: 2em;
	letter-spacing: 1.5px;
}
.con_div img{
	width: 300px;
	height: 200px;
	float: left;
}
#img{
	float: left;
	margin-top: 5px;
	margin-right: 5px;
}
#right{
	width: 280px;
	height: 750px;
	position: absolute;
	top: 120px;
	left: 850px;
}
#right ul{
	list-style-type: none;
}
#right ul li{
	margin-top: 5px;
}
#right ul li a{
	text-decoration: none;
	color: black;
	font-size: 13px;
	padding-left: 30px;
}
#right ul li a:hover{
	text-decoration: underline;
}
.div{
	width: 258px;
	height: 140px;
	background: white;
	margin-top: 3px;
	margin-left: 7px;	
}
h4{
	padding-left: 15px;
}
#special{
	height:190px ;
}
#first{
	margin-top: 0px;
	height: 120px;
}
h3{
	background-color:gainsboro;
	width: 590px;
	height: 30px;
	margin: 0 auto;
	padding-left: 8px;
	padding-top: 5px;
}
#middle{
	height: 210px;
}
#in_last{
	height: 100px;
}
#footer{
	width: 880px;
	height: 50px;
	background: gray;
	clear: both;
	margin: 0 auto;
}
#footer p{
	text-align: center;
	padding-top: 12px;
}
